/*URL*/
cite,
cite>span {
  color: green !important;
}

div.d8lRkd div.Aozhyc.MUxGbd.lyLwlc.aLF0Z.OSrXXb {
  display: none;
}

div.g div.TbwUpd.NJjxre.iUh30.ojE3Fb > span {
  display: none;
}

span.H9lube {
  display: none;
}

span.VuuXrf {
  display: none;
}

h3.LC20lb.MBeuO.DKV0Md {
  margin-top: 0;
}

a:hover h3.LC20lb {
  font-size: 20px !important;
  line-height: 1.3 !important;
  text-decoration: none !important;
}

cite.tjvcx.GvPZzd.cHaqb {
  font-size: 1rem;
}

div.B6fmyf.byrV5b.Mg1HEd {
  display: none;
}

div.d8lRkd.oVrGyb {
  display: none;
}

span.x2VHCd.OSrXXb.qzEoUe {
  font-size: 1rem;
}

div.CCgQ5.vCa9Yd.QfkTvb.N8QANc.MUxGbd.v0nnCb {
  margin-top: 26px;
}

div.q0vns img.XNo5Ab {
  height: 20px !important;
  width: 20px !important;
}

div.q0vns span.DDKf1c {
  margin-right: 6px;
}

div.q0vns>span {
  display: none;
}

